html {
  height: 100%;
  width: 100%;
}

.first {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.first .firstRow {
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  width: 100%;
  position: relative;
  justify-content: space-around;
  align-content: flex-start;
  height: auto;
  top: 155px;
  z-index: 0;
}
.first .firstRow .left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
  height: 800px;
  margin: 0px 15px;
  z-index: 5;
}
.first .firstRow .left h1 {
  color: white;
  font-size: 50px;
}
.first .firstRow .left h1 span {
  font-family: Sofia, sansSerif;
  font-style: oblique;
}
.first .firstRow .left .Input {
  width: 600px;
  height: 50px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  bottom: 20%;
}
.first .firstRow .left .Input .firstRow-input {
  width: 80%;
  font-size: 20px;
}
.first .firstRow .left .Input .glass {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: green;
}
.first .firstRow .left .Input .search {
  position: relative;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: green;
}
.first .firstRow .left .spann {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 780px;
  position: relative;
  height: 50px;
  bottom: 40%;
}
.first .firstRow .left .spann h5 {
  color: white;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  width: auto;
}
.first .firstRow .left .spann span {
  color: white;
  cursor: pointer;
}
.first .firstRow .left .spann span:nth-child(2) {
  border: 2px solid white;
  width: 145px !important;
  font-size: 15px;
  padding: 3px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 220px;
  border-radius: 23px;
}
.first .firstRow .left .spann span:nth-child(3) {
  border: 2px solid white;
  width: 100px !important;
  font-size: 15px;
  padding: 3px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 220px;
  border-radius: 23px;
}
.first .firstRow .left .spann span:nth-child(4) {
  border: 2px solid white;
  width: 118px !important;
  font-size: 15px;
  padding: 3px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 220px;
  border-radius: 23px;
}
.first .firstRow .left .spann span:nth-child(5) {
  border: 2px solid white;
  width: 110px !important;
  font-size: 15px;
  padding: 3px 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 220px;
  border-radius: 23px;
}
.first .firstRow .left .spann span:hover {
  background-color: white;
  color: black;
  transition: 0.5s;
}
.first .firstRow .right {
  margin: 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  height: 100%;
  z-index: 0;
}
.first .firstRow .right img {
  width: 550px;
  height: 550px;
}

.secondRow {
  margin: 50px 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secondRow div {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  position: relative;
}
.secondRow div img {
  margin: 0px 35px;
  width: 90px;
  height: 65px;
}

.third {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
}
.third .wrapper {
  background-color: #fff;
  max-width: 1500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  margin: 50px 0px;
}
.third .wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 1;
}
.third .wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.third .wrapper i:first-child {
  left: 0px;
}
.third .wrapper i:last-child {
  right: 0px;
}
.third .wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(20% - 12px);
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
}
.third .wrapper .carousel::-webkit-scrollbar {
  display: none;
}
.third .wrapper .carousel.no-transition {
  scroll-behavior: auto;
}
.third .wrapper .carousel.dragging {
  z-index: 20;
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.third .wrapper .carousel.dragging .card {
  cursor: grab !important;
  z-index: 15;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}
.third .wrapper .carousel :where(.card, .img) {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.third .wrapper .carousel .card {
  scroll-snap-align: start !important;
  height: 370px !important;
  list-style: none !important;
  background: #fff !important;
  cursor: pointer !important;
  padding-bottom: 15px !important;
  flex-direction: column !important;
  border-radius: 8px !important;
}
.third .wrapper .carousel .card .img {
  height: 550px !important;
  width: 350px !important;
  position: relative;
}
.third .wrapper .carousel .card .intro {
  position: absolute;
  bottom: 265px;
  color: white;
  width: 100%;
  padding: 0px 15px;
}
.third .wrapper .carousel .card .intro h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.third .wrapper .carousel .card .intro span {
  color: #6A6D78;
  font-size: 1.31rem;
}

.fourth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  padding-right: 50px;
}
.fourth .fourthRow {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1500px;
  width: 100%;
}
.fourth .fourthRow .left {
  width: 60%;
  height: auto;
  z-index: 1;
  margin: 0px 15px;
}
.fourth .fourthRow .left div p {
  font-size: 30px;
}
.fourth .fourthRow .left div h5 {
  font-size: 28px;
}
.fourth .fourthRow .left div div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
}
.fourth .fourthRow .right {
  position: relative;
  margin: 0px 15px;
  width: 900px;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.fourth .fourthRow .right img {
  width: 100%;
}
.fourth .fourthRow .right img:first-child(0) {
  position: relative;
  left: 30px;
  width: 100%;
  height: auto;
  z-index: 20;
}
.fourth .fourthRow .right img:last-child {
  position: absolute;
  left: 45%;
  bottom: 45%;
  width: 15%;
  height: auto;
  z-index: 30;
}

.fiveRow {
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: auto;
}
.fiveRow .five {
  display: flex;
  max-width: 1500px;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.fiveRow .five h1 {
  text-align: left;
  font-size: 30px;
}
.fiveRow .five div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  height: auto;
  text-align: center;
}
.fiveRow .five div div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px;
  height: auto;
}
.fiveRow .five div div div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 10px;
  width: 18.8%;
  height: auto;
}
.fiveRow .five div div div div {
  width: 130px;
  height: 110px;
  border-bottom: 2px solid rgb(207, 200, 200);
}
.fiveRow .five div div div div img {
  width: 100%;
  height: 100%;
}
.fiveRow .five div div div span {
  font-size: 15.5px;
}

.six {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 4, 100);
  color: white;
}
.six .Sixth {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: auto;
  width: 1500px;
  margin: 50px 0px;
  flex-wrap: nowrap;
}
.six .Sixth button {
  margin-top: 100px;
  padding: 15px 30px;
  margin-bottom: 70px;
  background-color: rgb(59, 197, 112);
  color: white;
}
.six .Sixth button:hover {
  opacity: 0.8;
}
.six .Sixth .Inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 100px;
  margin-right: 70px;
  width: 600px;
  height: auto;
}
.six .Sixth .Inner button {
  bottom: 60px;
  position: relative;
}
.six .Sixth .Inner div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.six .Sixth .Inner div div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.six .Sixth img {
  width: 700px;
  height: auto;
}

.seveN {
  display: flex;
  position: relative;
  justify-content: center;
  align-content: center;
  padding: 0px 20px;
}
.seveN .seventh {
  width: 1500px;
  overflow: hidden;
}

.eight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}
.eight .containerr {
  background-color: rgb(110, 110, 255);
  padding: 30px 100px;
  height: auto;
  width: 1500px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin: 10px 0px;
}
.eight .containerr .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: 40%;
  height: 400px;
  margin-right: 30px;
}
.eight .containerr .left h3 {
  margin: 30px 0px;
}
.eight .containerr .left p {
  font-size: 20px;
}
.eight .containerr .left button {
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 8px;
  color: blue;
  background-color: #fff;
}
.eight .containerr .left button:hover {
  opacity: 0.7;
}
.eight .containerr .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  width: 50%;
  height: 400px;
  margin-left: 50px;
  padding-right: 130px;
}
.eight .containerr .right .img {
  position: relative;
  padding-right: 170px;
  left: 8%;
  overflow: hidden;
  transform: scale(3.2);
}

.ninth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto;
}
.ninth .wrapper {
  max-width: 1500px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  margin: 15px 0px;
}
.ninth .wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 1;
}
.ninth .wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.ninth .wrapper i:first-child {
  left: 0px;
}
.ninth .wrapper i:last-child {
  right: 0px;
}
.ninth .wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc(25% - 12px);
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
}
.ninth .wrapper .carousel::-webkit-scrollbar {
  display: none;
}
.ninth .wrapper .carousel.no-transition {
  scroll-behavior: auto;
}
.ninth .wrapper .carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.ninth .wrapper .carousel.dragging .card {
  cursor: grab !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}
.ninth .wrapper .carousel :where(.card, .img) {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.ninth .wrapper .carousel .card {
  scroll-snap-align: start !important;
  height: 370px !important;
  list-style: none !important;
  background: #fff !important;
  cursor: pointer !important;
  padding-bottom: 15px !important;
  flex-direction: column !important;
  border-radius: 8px !important;
}
.ninth .wrapper .carousel .card .img {
  height: 550px !important;
  width: 350px !important;
  position: relative;
}
.ninth .wrapper .carousel .card .intro {
  margin: 7px 0px;
  position: relative;
  color: black;
  width: 100%;
  padding: 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ninth .wrapper .carousel .card .intro img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 13px;
}
.ninth .wrapper .carousel .card .intro div h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.ninth .wrapper .carousel .card .intro div span {
  color: #6A6D78;
  font-size: 1.31rem;
}

.tenth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tenth .ten {
  width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.tenth .ten h1 {
  text-align: center;
}
.tenth .ten div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}
.tenth .ten div div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px;
}
.tenth .ten div div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 450px;
  height: auto;
}
.tenth .ten div div div div {
  width: 100%;
  height: auto;
  border-bottom: 2px solid rgb(207, 200, 200);
}

.eleventh {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.eleventh .eleven {
  display: flex;
  width: 1500px;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  height: 400px;
  padding: 0px 30px;
  background-color: rgb(78, 30, 30);
}
.eleventh .eleven div {
  z-index: 5;
}
.eleventh .eleven div h2 {
  font-size: 40px;
}
.eleventh .eleven div button {
  width: 130px;
  height: 50px;
  font-size: 17px;
  margin: 20px 0px;
}
.eleventh .eleven .img {
  width: 300px;
  height: auto;
  position: relative;
  padding-right: 6%;
  left: 300px;
  background-color: rgba(77, 11, 11, 0);
  z-index: 0;
}
.eleventh .eleven .img img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: -120px 10%;
     object-position: -120px 10%;
  transform: scale(5);
}

@media screen and (max-width: 1240px) {
  .first {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    justify-content: space-around;
    align-content: flex-start;
    height: 800px;
    top: 0px;
    overflow: hidden;
  }
  .first .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 50%;
    height: auto !important;
    margin: 0px 15px;
  }
  .first .left h1 {
    color: white;
    font-size: 50px;
  }
  .first .left h1 span {
    font-family: Sofia, sansSerif;
    font-style: oblique;
  }
  .first .left .Input {
    width: 600px;
    height: 50px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    bottom: 20%;
  }
  .first .left .Input .firstRow-input {
    width: 80%;
    font-size: 20px;
  }
  .first .left .Input div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: green;
  }
  .first .left .spann {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 780px;
    position: relative;
    height: 50px;
    bottom: 40%;
  }
  .first .left .spann h5 {
    color: white;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .first .right {
    margin: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    width: 50%;
    height: 100%;
  }
  .first .right img {
    width: 550px;
    height: 550px;
  }
  .secondRow {
    margin: 50px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .secondRow div {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .secondRow div img {
    margin: 0px 35px;
    width: 90px;
    height: 65px;
  }
  .third {
    width: 100%;
  }
  .third .wrapper {
    width: 100%;
    overflow: hidden;
  }
  .third .wrapper .carousel {
    grid-auto-columns: calc(25% - 9px);
  }
  .fourthRow {
    padding-top: 40px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
  .fourthRow .left {
    width: 80%;
    height: 400px;
    z-index: 1;
  }
  .fourthRow .left div p {
    font-size: 20px;
  }
  .fourthRow .left div div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
  }
  .fourthRow .right {
    width: 90%;
    height: auto;
  }
  .seveN {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 0px 20px;
  }
  .seveN .seventh {
    width: 100%;
    overflow: hidden;
  }
  .eight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }
  .eight .containerr {
    background-color: rgb(110, 110, 255);
    padding: 30px 100px;
    height: auto;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 20px 0px;
  }
  .eight .containerr .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 40%;
    height: 400px;
    margin-right: 30px;
  }
  .eight .containerr .left h3 {
    margin: 30px 0px;
  }
  .eight .containerr .left p {
    font-size: 20px;
  }
  .eight .containerr .left button {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    color: blue;
    background-color: #fff;
  }
  .eight .containerr .left button:hover {
    opacity: 0.7;
  }
  .eight .containerr .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 50%;
    height: 400px;
    left: 7%;
    margin-left: 100px;
    padding-right: 130px;
  }
  .eight .containerr .right .img {
    position: relative;
    padding-right: 170px;
    left: 10%;
    overflow: hidden;
    transform: scale(4);
  }
  .tenth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .tenth .ten {
    width: 1500px;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .tenth .ten h1 {
    text-align: center;
  }
  .tenth .ten div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }
  .tenth .ten div div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px 0px;
  }
  .tenth .ten div div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 32%;
    height: auto;
  }
  .tenth .ten div div div div {
    width: 100%;
    height: auto;
    border-bottom: 2px solid rgb(207, 200, 200);
  }
}
@media screen and (max-width: 1160px) {
  .first .firstRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    justify-content: space-around;
    align-content: flex-start;
    top: 150px;
    height: 800px;
  }
  .first .firstRow .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 750px;
    margin: 0px 15px;
    width: 53.8%;
  }
  .first .firstRow .left h1 {
    color: white;
    font-size: 30px;
  }
  .first .firstRow .left h1 span {
    font-family: "Sofia, sansSerif";
    font-style: oblique;
  }
  .first .firstRow .left .Input {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    bottom: 20%;
  }
  .first .firstRow .left .Input .firstRow-input {
    width: 80%;
    font-size: 20px;
  }
  .first .firstRow .left .Input div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: green;
  }
  .first .firstRow .left .spann {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    height: 50px;
    bottom: 30%;
  }
  .first .firstRow .left .spann h5 {
    color: white;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .first .firstRow .left .spann span:nth-child(2) {
    border: 2px solid white;
    width: 160px !important;
    font-size: 15px;
    padding: 3px 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 220px;
    border-radius: 25px;
  }
  .first .firstRow .left .spann span:nth-child(3) {
    border: 2px solid white;
    width: 100px !important;
    font-size: 15px;
    padding: 3px 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 220px;
    border-radius: 25px;
  }
  .first .firstRow .left .spann span:nth-child(4) {
    border: 2px solid white;
    width: 120px !important;
    font-size: 15px;
    padding: 3px 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 220px;
    border-radius: 25px;
  }
  .first .firstRow .left .spann span:nth-child(5) {
    border: 2px solid white;
    width: 110px !important;
    font-size: 15px;
    padding: 3px 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 220px;
    border-radius: 25px;
  }
  .first .firstRow .left .spann span:hover {
    background-color: white;
    color: black;
  }
  .first .firstRow .right {
    margin: 0px 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 50%;
  }
  .first .firstRow .right img {
    height: auto;
    width: 100%;
  }
  .secondRow {
    margin: 30px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .secondRow div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .secondRow div h5 {
    display: none;
  }
  .secondRow div img {
    margin: 0px 35px;
  }
  .fourth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }
  .fourth .fourthRow {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .fourth .fourthRow .left {
    width: 80%;
    height: auto;
    z-index: 1;
    margin-right: 15px;
  }
  .fourth .fourthRow .left div {
    width: 100%;
  }
  .fourth .fourthRow .left div p {
    font-size: 17px;
  }
  .fourth .fourthRow .left div h5 {
    font-size: 20px;
  }
  .fourth .fourthRow .left div div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
  }
  .fourth .fourthRow .right {
    position: relative;
    margin-left: 15px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  .fourth .fourthRow .right img {
    width: 100%;
  }
  .fourth .fourthRow .right img:first-child(0) {
    position: relative;
    left: 30px;
    width: 100%;
    height: auto;
    z-index: 20;
  }
  .fourth .fourthRow .right img:last-child {
    position: absolute;
    left: 45%;
    bottom: 45%;
    width: 15%;
    height: auto;
    z-index: 30;
  }
  .six {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 4, 100);
    color: white;
  }
  .six .Sixth {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: auto;
    width: 100%;
    margin: 50px 0px;
  }
  .six .Sixth button {
    margin-top: 100px;
    padding: 15px 30px;
    margin-bottom: 70px;
    background-color: rgb(59, 197, 112);
    color: white;
  }
  .six .Sixth button:hover {
    opacity: 0.8;
  }
  .six .Sixth .Inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 100px;
    margin-right: 70px;
    width: 50%;
    height: auto;
  }
  .six .Sixth .Inner button {
    bottom: 60px;
    position: relative;
  }
  .six .Sixth .Inner div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .six .Sixth .Inner div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .six .Sixth img {
    width: 50%;
  }
  .eleventh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
  .eleventh .eleven {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    height: 250px;
    padding: 0px 30px;
    background-color: rgb(78, 30, 30);
  }
  .eleventh .eleven div {
    z-index: 5;
  }
  .eleventh .eleven div h2 {
    font-size: 40px;
  }
  .eleventh .eleven div button {
    width: 130px;
    height: 50px;
    font-size: 17px;
    margin: 20px 0px;
  }
  .eleventh .eleven .img {
    width: 300px;
    height: auto;
    position: relative;
    padding-right: 6%;
    left: 4%;
    background-color: rgba(77, 11, 11, 0);
    z-index: 0;
  }
  .eleventh .eleven .img img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -65px 10%;
       object-position: -65px 10%;
    transform: scale(3);
  }
}
@media screen and (max-width: 1060px) {
  .first .firstRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    justify-content: space-around;
    align-content: flex-start;
    height: 800px;
  }
  .first .firstRow .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 750px;
    margin: 0px 10px;
    width: 55%;
    z-index: 5;
  }
  .first .firstRow .left h1 {
    color: white;
    font-size: 30px;
  }
  .first .firstRow .left h1 span {
    font-family: "Sofia, sansSerif";
    font-style: oblique;
  }
  .first .firstRow .left .Input {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    bottom: 20%;
  }
  .first .firstRow .left .Input .firstRow-input {
    width: 80%;
    font-size: 20px;
  }
  .first .firstRow .left .Input div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: green;
  }
  .first .firstRow .left .spann {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    height: 50px;
    bottom: 40%;
  }
  .first .firstRow .left .spann h5 {
    color: white;
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .first .firstRow .left .spann span:nth-child(2) {
    border: 2px solid white;
    width: 150px !important;
    font-size: 12px;
    padding: 3px 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 220px;
    border-radius: 25px;
  }
  .first .firstRow .left .spann span:nth-child(3) {
    border: 2px solid white;
    width: 100px !important;
    font-size: 12px;
    padding: 3px 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 220px;
    border-radius: 25px;
  }
  .first .firstRow .left .spann span:nth-child(4) {
    border: 2px solid white;
    width: 120px !important;
    font-size: 12px;
    padding: 3px 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 220px;
    border-radius: 25px;
  }
  .first .firstRow .left .spann span:nth-child(5) {
    border: 2px solid white;
    width: 115px !important;
    font-size: 12px;
    padding: 3px 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 220px;
    border-radius: 25px;
  }
  .first .firstRow .left .spann span:hover {
    background-color: white;
    color: black;
  }
  .first .firstRow .right {
    margin: 0px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
    width: 50%;
  }
  .first .firstRow .right img {
    z-index: 0;
    height: auto;
    width: 100%;
  }
  .third .wrapper .carousel {
    grid-auto-columns: calc(33.3333333333% - 9px);
  }
  .fourth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
    width: 100%;
  }
  .fourth .fourthRow {
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .fourth .fourthRow .left {
    width: 65%;
    height: auto;
    z-index: 1;
    margin-right: 15px;
  }
  .fourth .fourthRow .left div {
    width: 100%;
  }
  .fourth .fourthRow .left div p {
    font-size: 16px;
    margin: 10px 0px;
  }
  .fourth .fourthRow .left div h5 {
    font-size: 19px;
    margin: 13px 0px;
  }
  .fourth .fourthRow .left div div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
  }
  .fourth .fourthRow .right {
    position: relative;
    margin-left: 15px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  .fourth .fourthRow .right img {
    width: 100%;
  }
  .fourth .fourthRow .right img:first-child(0) {
    position: relative;
    left: 30px;
    width: 100%;
    height: auto;
    z-index: 20;
  }
  .fourth .fourthRow .right img:last-child {
    position: absolute;
    left: 45%;
    bottom: 45%;
    width: 15%;
    height: auto;
    z-index: 30;
  }
  .eight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }
  .eight .containerr {
    background-color: rgb(110, 110, 255);
    padding: 30px 100px;
    height: auto;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin: 20px 0px;
  }
  .eight .containerr .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 40%;
    height: 400px;
    margin-right: 30px;
  }
  .eight .containerr .left h3 {
    margin: 30px 0px;
  }
  .eight .containerr .left p {
    font-size: 20px;
  }
  .eight .containerr .left button {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    color: blue;
    background-color: #fff;
  }
  .eight .containerr .left button:hover {
    opacity: 0.7;
  }
  .eight .containerr .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    width: 50%;
    height: 400px;
    left: 20%;
    margin-left: 100px;
    padding-right: 130px;
  }
  .eight .containerr .right .img {
    position: relative;
    padding-right: 170px;
    left: 20%;
    overflow: hidden;
    transform: scale(5.5);
  }
  .ninth .wrapper .carousel {
    grid-auto-columns: calc(33.3333333333% - 9px);
  }
}
@media screen and (max-width: 900px) {
  .first .firstRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    justify-content: space-around;
    align-content: center;
    top: 150px;
    height: 800px;
    padding: 0px 70px;
  }
  .first .firstRow .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin: 0px 15px;
    width: 100%;
  }
  .first .firstRow .left h1 {
    color: white;
    font-size: 40px;
  }
  .first .firstRow .left h1 span {
    font-family: "Sofia, sansSerif";
    font-style: oblique;
  }
  .first .firstRow .left .Input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    bottom: 20%;
  }
  .first .firstRow .left .Input .firstRow-input {
    width: 100%;
    font-size: 25px;
  }
  .first .firstRow .left .Input .glass {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 25px;
    width: 100%;
    height: 55px;
    background-color: green;
  }
  .first .firstRow .left .spann {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    height: 50px;
    bottom: 40%;
    background-color: tan;
  }
  .first .firstRow .left .spann span {
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .first .firstRow .left .spann div {
    width: 100%;
  }
  .first .firstRow .left .spann div span {
    border: 2px solid white;
    width: 60px !important;
    font-size: 15px;
    padding: 3px 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 220px;
    border-radius: 25px;
  }
  .first .firstRow .right {
    margin: 0px 15px;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 50%;
  }
  .first .firstRow .right img {
    height: auto;
    width: 100%;
  }
  .secondRow {
    margin: 30px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .secondRow div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .secondRow div h5 {
    display: none;
  }
  .secondRow div img {
    margin: 0px 15px;
    width: 80px;
    height: 60px;
  }
  .third .wrapper {
    margin: 80px 0px;
  }
  .third .wrapper .carousel {
    grid-auto-columns: calc(50% - 9px);
  }
  .fourth .fourthRow {
    padding-top: 40px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
  }
  .fourth .fourthRow .left {
    width: 100%;
    height: auto;
  }
  .fourth .fourthRow .left div p {
    font-size: 20px;
  }
  .fourth .fourthRow .left div div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
  }
  .fourth .fourthRow .right {
    width: 100%;
    height: auto;
  }
  .fiveRow {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: auto;
  }
  .fiveRow .five {
    display: flex;
    max-width: 1500px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .fiveRow .five h1 {
    text-align: left;
    font-size: 30px;
  }
  .fiveRow .five div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 5px;
    height: auto;
    text-align: center;
  }
  .fiveRow .five div div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px 0px;
    height: auto;
  }
  .fiveRow .five div div div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
    width: 23%;
    height: auto;
  }
  .fiveRow .five div div div div {
    width: 130px;
    height: 110px;
    border-bottom: 2px solid rgb(207, 200, 200);
  }
  .fiveRow .five div div div div img {
    width: 100%;
    height: 100%;
  }
  .fiveRow .five div div div span {
    font-size: 15.5px;
  }
  .six {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 4, 100);
    color: white;
    width: 100%;
  }
  .six .Sixth {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
    height: auto;
    width: 100%;
    margin: 50px 0px;
    flex-wrap: wrap;
  }
  .six .Sixth button {
    margin-top: 100px;
    padding: 15px 30px;
    margin-bottom: 70px;
    background-color: rgb(59, 197, 112);
    color: white;
  }
  .six .Sixth button:hover {
    opacity: 0.8;
  }
  .six .Sixth .Inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 70px;
    width: 100%;
    height: auto;
  }
  .six .Sixth .Inner button {
    bottom: 60px;
    position: relative;
  }
  .six .Sixth .Inner div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .six .Sixth .Inner div div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .six .Sixth img {
    width: 100%;
  }
  .seveN {
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center;
    margin: 40px 0px;
  }
  .seveN .seventh {
    width: 100%;
  }
  .eight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: auto;
  }
  .eight .containerr {
    background-color: rgb(110, 110, 255);
    height: 500px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 20px;
    background-image: url("../../../public/img/logo-maker-banner-tablet-852-2x.jpg");
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
  }
  .eight .containerr .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 250px;
    margin-right: 30px;
    bottom: 100px;
  }
  .eight .containerr .left h3 {
    margin: 30px 0px;
  }
  .eight .containerr .left p {
    font-size: 20px;
  }
  .eight .containerr .left button {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    color: blue;
    background-color: #fff;
  }
  .eight .containerr .left button:hover {
    opacity: 0.7;
  }
  .eight .containerr .right {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 300px;
    padding-right: 100px;
  }
  .ninth .wrapper .carousel {
    grid-auto-columns: 100%;
  }
  .tenth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .tenth .ten {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .tenth .ten h1 {
    text-align: center;
  }
  .tenth .ten div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
  }
  .tenth .ten div div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px 0px;
  }
  .tenth .ten div div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 45%;
    height: auto;
  }
  .tenth .ten div div div div {
    width: 100%;
    height: auto;
    border-bottom: 2px solid rgb(207, 200, 200);
  }
  .eleventh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
  .eleventh .eleven {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: white;
    background-image: none;
    height: 300px;
    background-color: rgb(77, 11, 11);
    padding: 0px 50px;
  }
  .eleventh .eleven div h2 {
    font-size: 40px;
  }
  .eleventh .eleven div button {
    width: 130px;
    height: 50px;
    font-size: 17px;
    margin: 30px 0px;
  }
  .eleventh .eleven .img {
    display: none;
    width: 750px;
    height: auto;
  }
  .eleventh .eleven .img img {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 800px) {
  .first {
    height: 700px;
  }
  .first .firstRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    justify-content: space-around;
    align-content: center;
    height: 600px;
    padding: 0px 70px;
  }
  .first .firstRow .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin: 0px 15px;
    width: 100%;
  }
  .first .firstRow .left h1 {
    color: white;
    font-size: 40px;
  }
  .first .firstRow .left h1 span {
    font-family: "Sofia, sansSerif";
    font-style: oblique;
  }
  .first .firstRow .left .Input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    bottom: 20%;
  }
  .first .firstRow .left .Input .firstRow-input {
    width: 100%;
    font-size: 25px;
  }
  .first .firstRow .left .Input div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0px;
    width: 100%;
    height: 55px;
    background-color: green;
  }
  .first .firstRow .left .spann {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    height: 50px;
    bottom: 40%;
    background-color: tan;
  }
  .first .firstRow .left .spann span {
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .first .firstRow .left .spann div {
    width: 100%;
  }
  .first .firstRow .left .spann div span {
    border: 2px solid white;
    width: 60px !important;
    font-size: 15px;
    padding: 3px 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 220px;
    border-radius: 25px;
  }
  .first .firstRow .right {
    margin: 0px 15px;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 50%;
  }
  .first .firstRow .right img {
    height: auto;
    width: 100%;
  }
  .secondRow {
    margin: 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .secondRow div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .secondRow div h5 {
    display: none;
  }
  .third .wrapper {
    margin: 20px 0px;
  }
  .third .wrapper .carousel {
    grid-auto-columns: calc(50% - 9px);
  }
  .fourth .fourthRow {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
  }
  .fourth .fourthRow .left {
    width: 100%;
    height: auto;
  }
  .fourth .fourthRow .left div h5 {
    font-size: 23px;
  }
  .fourth .fourthRow .left div p {
    font-size: 20px;
  }
  .fourth .fourthRow .left div div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
  }
  .fourth .fourthRow .right {
    width: 100%;
    height: auto;
  }
  .eight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: auto;
  }
  .eight .containerr {
    background-color: rgb(110, 110, 255);
    height: 500px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 20px;
    margin: 10px 0px;
    background-image: url("../../../public/img/logo-maker-banner-tablet-852-2x.jpg");
    background-size: cover;
    background-position-x: right;
    background-position-y: center;
  }
  .eight .containerr .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 250px;
    margin-right: 30px;
    bottom: 100px;
  }
  .eight .containerr .left h3 {
    margin: 30px 0px;
  }
  .eight .containerr .left p {
    font-size: 20px;
  }
  .eight .containerr .left button {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 8px;
    color: blue;
    background-color: #fff;
  }
  .eight .containerr .left button:hover {
    opacity: 0.7;
  }
  .eight .containerr .right {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 300px;
    padding-right: 100px;
  }
}
@media screen and (max-width: 600px) {
  .first {
    height: 700px;
  }
  .first .firstRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-around;
    align-content: center;
    top: 200px;
    height: 500px;
    padding: 0px 10px;
  }
  .first .firstRow .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: auto;
    margin: 0px 10px;
    width: 100%;
  }
  .first .firstRow .left h1 {
    color: white;
    font-size: 30px;
  }
  .first .firstRow .left h1 span {
    font-family: "Sofia, sansSerif";
    font-style: oblique;
  }
  .first .firstRow .left .Input {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    bottom: 20%;
  }
  .first .firstRow .left .Input .firstRow-input {
    width: 100%;
    font-size: 20px;
  }
  .first .firstRow .left .Input .glass {
    position: relative;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0px;
    width: 100%;
    height: 55px;
    background-color: green;
  }
  .first .firstRow .left .Input .search {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    width: 100%;
    height: 55px;
    background-color: green;
  }
  .first .firstRow .left .Input .search button {
    padding: 5px 0px;
    width: 100%;
    height: 55px;
    font-size: 20px;
    color: white;
    background-color: green;
  }
  .first .firstRow .left .spann {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    position: relative;
    height: 50px;
    bottom: 40%;
    background-color: tan;
  }
  .first .firstRow .left .spann span {
    color: white;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .first .firstRow .left .spann div {
    width: 100%;
  }
  .first .firstRow .left .spann div span {
    border: 2px solid white;
    width: 60px !important;
    font-size: 15px;
    padding: 3px 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 220px;
    border-radius: 25px;
  }
  .first .firstRow .right {
    margin: 0px 15px;
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 50%;
  }
  .first .firstRow .right img {
    height: auto;
    width: 100%;
  }
  .secondRow {
    margin: 30px 0px;
    width: 100% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 100px;
    height: 40px;
  }
  .secondRow .imgG {
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 0px 100px;
  }
  .secondRow .imgG h5 {
    display: none;
  }
  .secondRow .imgG img {
    margin: 0px 10px;
    width: 60px;
    height: 50px;
  }
  .secondRow .imgG img:nth-last-child(3) {
    display: none;
  }
  .third {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
  }
  .third .wrapper {
    margin: 5px 0px;
  }
  .third .wrapper .carousel {
    grid-auto-columns: 100%;
  }
  .fourth {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .fourth .fourthRow {
    padding-top: 40px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
  }
  .fourth .fourthRow .left {
    width: 100%;
    height: auto;
    z-index: 0;
  }
  .fourth .fourthRow .left h2 {
    font-size: larger;
  }
  .fourth .fourthRow .left div p {
    font-size: 13px;
  }
  .fourth .fourthRow .left div h5 {
    font-size: 15px;
  }
  .fourth .fourthRow .left div div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 30px;
  }
  .fourth .fourthRow .right {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .fiveRow {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: auto;
  }
  .fiveRow .five {
    display: flex;
    max-width: 1500px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 15px;
  }
  .fiveRow .five h1 {
    text-align: left;
    font-size: 22px;
  }
  .fiveRow .five div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 13px;
    height: auto;
  }
  .fiveRow .five div div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px 0px;
    height: auto;
  }
  .fiveRow .five div div div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 5px;
    width: 44%;
    height: auto;
  }
  .fiveRow .five div div div span {
    font-size: 15px;
  }
  .fiveRow .five div div div div {
    width: 135%;
    height: auto;
    border-bottom: 2px solid rgb(207, 200, 200);
  }
  .fiveRow .five div div div div img {
    width: 100%;
    height: 100%;
  }
  .six {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(19, 4, 100);
    color: white;
    width: 100%;
    padding: 0px;
  }
  .six .Sixth {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
    height: auto;
    width: 100%;
    margin: 50px 0px;
    flex-wrap: wrap;
    padding: 0px;
  }
  .six .Sixth button {
    margin-top: 100px;
    padding: 15px 10px;
    margin-bottom: 70px;
    background-color: rgb(59, 197, 112);
    color: white;
  }
  .six .Sixth button:hover {
    opacity: 0.8;
  }
  .six .Sixth .Inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0px 15px;
  }
  .six .Sixth .Inner h3 {
    font-size: 25px;
  }
  .six .Sixth .Inner h2 {
    font-size: 30px;
  }
  .six .Sixth .Inner button {
    bottom: 60px;
    position: relative;
  }
  .six .Sixth .Inner div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .six .Sixth .Inner div div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .six .Sixth img {
    width: 100%;
    padding: 0px 15px;
  }
  .eight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    height: auto;
  }
  .eight .containerr {
    background-color: rgb(110, 110, 255);
    height: 500px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 20px;
    margin: 20px 0px;
    background-image: url("../../../public/img/logo-maker-banner-tablet-852-2x.jpg");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
  }
  .eight .containerr .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 250px;
    margin-right: 30px;
    bottom: 70px;
  }
  .eight .containerr .left h3 {
    margin: 30px 0px;
  }
  .eight .containerr .left p {
    font-size: 20px;
  }
  .eight .containerr .left button {
    font-size: 18px;
    padding: 10px 11px;
    border-radius: 8px;
    color: blue;
    background-color: #fff;
  }
  .eight .containerr .left button:hover {
    opacity: 0.7;
  }
  .eight .containerr .right {
    display: none;
  }
  .tenth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .tenth .ten {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .tenth .ten h1 {
    text-align: center;
    font-size: 20px;
    margin-left: 10px;
  }
  .tenth .ten div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 3px;
  }
  .tenth .ten div div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 5px 0px;
  }
  .tenth .ten div div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right: 10px;
    width: 100%;
    height: auto;
  }
  .tenth .ten div div div h3 {
    font-size: 18px;
  }
  .tenth .ten div div div div {
    width: 100%;
    height: auto;
    border-bottom: 2px solid rgb(207, 200, 200);
  }
  .eleventh {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
  .eleventh .eleven {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    color: white;
    background-image: none;
    height: 300px;
    background-color: rgb(77, 11, 11);
    padding: 0px 40px;
  }
  .eleventh .eleven div h2 {
    font-size: 32px;
  }
  .eleventh .eleven div button {
    width: 130px;
    height: 50px;
    font-size: 17px;
    margin: 30px 0px;
  }
  .eleventh .eleven .img {
    display: none;
    width: 750px;
    height: auto;
  }
  .eleventh .eleven .img img {
    width: 100%;
    height: auto;
  }
}/*# sourceMappingURL=Home-V3.css.map */