.subpage {
  height: 100%;
  width: 1500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  align-self: center;
  position: relative;
  margin-top: 30px;
  padding: 0px 20px;
}
.subpage hr {
  color: black;
}
.subpage .heading {
  display: block;
  align-self: flex-start;
}
.subpage .heading h5 {
  font-size: 15px;
  text-align: left;
  margin-bottom: 15px;
}
.subpage .heading h5 span {
  margin-left: 20px;
}
.subpage .heading h1 {
  font-size: 30px;
  text-align: left;
}
.subpage .heading .headingGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  background-color: blue;
}
.subpage .heading .headingGroup button {
  width: 200px;
  background-color: aqua;
}
.subpage .heading .headingGroup p {
  width: 800px;
}
.subpage .spangroup {
  display: block;
  width: 1500px;
}
.subpage .spangroup .span {
  width: 100% s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.subpage .spangroup .span span {
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 18px;
  margin: 5px 10px;
  border-radius: 15px;
  background-color: rgb(198, 192, 192);
  font-size: 15px;
  cursor: pointer;
}
.subpage .spangroup .span span:hover {
  text-decoration: underline;
}
.subpage .FAQs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.subpage .FAQs .QQ {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.subpage .FAQs .QQ .item {
  width: 700px;
  text-align: left;
  margin: 10px 15px;
}
.subpage .FAQs .QQ .item h1 {
  font-size: 20px;
}
.subpage .FAQs .QQ .item p {
  width: 100%;
  font-size: 15px;
}
.subpage .tenth {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.subpage .tenth .ten {
  width: 1500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.subpage .tenth .ten h1 {
  text-align: center;
  align-self: flex-start;
}
.subpage .tenth .ten div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}
.subpage .tenth .ten div div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 10px 0px;
}
.subpage .tenth .ten div div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  width: 440px;
  height: auto;
}
.subpage .tenth .ten div div div div {
  width: 100%;
  height: auto;
  border-bottom: 2px solid rgb(207, 200, 200);
}

@media only screen and (max-width: 1300px) {
  .subpage {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-self: center;
    position: relative;
    margin-top: 70px;
  }
  .subpage h1 {
    font-size: 30px;
    text-align: left;
  }
  .subpage .headingGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    background-color: blue;
  }
  .subpage .headingGroup button {
    width: 200px;
    background-color: aqua;
  }
  .subpage .headingGroup p {
    width: 750px;
    font-size: 15.5px;
    background-color: burlywood;
  }
  .subpage .FAQs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
  }
  .subpage .FAQs .QQ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .subpage .FAQs .QQ .item {
    width: 45%;
    text-align: left;
    margin: 10px 15px;
  }
  .subpage .FAQs .QQ .item h1 {
    font-size: 20px;
  }
  .subpage .FAQs .QQ .item p {
    width: 100%;
    font-size: 15px;
  }
}
@media only screen and (max-width: 900px) {
  .subpage {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-self: center;
    position: relative;
    margin-top: 70px;
  }
  .subpage h1 {
    font-size: 30px;
    text-align: left;
  }
  .subpage .headingGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    background-color: blue;
  }
  .subpage .headingGroup button {
    width: 200px;
    background-color: aqua;
  }
  .subpage .headingGroup p {
    font-size: 15px;
    width: 100%;
  }
  .subpage .FAQs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
  }
  .subpage .FAQs .QQ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .subpage .FAQs .QQ .item {
    width: 100%;
    text-align: left;
    margin: 10px 15px;
  }
  .subpage .FAQs .QQ .item h1 {
    font-size: 20px;
  }
  .subpage .FAQs .QQ .item p {
    width: 100%;
    font-size: 15px;
  }
}
@media only screen and (max-width: 600px) {
  .subpage {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    align-self: center;
    position: relative;
    margin-top: 70px;
    padding: 0px 15px;
  }
  .subpage .heading {
    width: 100%;
  }
  .subpage .heading h1 {
    font-size: 30px;
    text-align: left;
    width: 100%;
  }
  .subpage .heading .headingGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    background-color: blue;
  }
  .subpage .heading .headingGroup button {
    width: 200px;
    background-color: aqua;
    height: 40px;
    align-self: flex-start;
  }
  .subpage .heading .headingGroup p {
    text-align: left;
    width: 100%;
  }
  .subpage .FAQs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    margin: 20px 0px;
  }
  .subpage .FAQs .QQ {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }
  .subpage .FAQs .QQ .item {
    width: 100%;
    width: 700px;
    text-align: left;
    margin: 10px 0px;
  }
  .subpage .FAQs .QQ .item h1 {
    font-size: 20px;
  }
  .subpage .FAQs .QQ .item p {
    width: 100%;
    font-size: 15px;
  }
}/*# sourceMappingURL=kk.css.map */